<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="generator" content="BayPack" />
    {% if feed_url and feed_title -%}
        <link href="{{ feed_url }}" rel="alternate" title="{{ feed_title }}" type="application/atom+xml" />
    {%- endif %}
    <style type="text/css">
    body {
        font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #000; background: #fff;
    }
    table { width: 100%; text-align: center; border-spacing: 0; }
    caption { text-align: right; }
    thead { font-weight: bold; cursor: pointer; }
    tbody td:nth-child(4) { text-align: left; }
    tbody tr:nth-child(even) { background: #eee; }
    tbody td div { display: block; height: 0.125em; }
    tbody td div.pos { background: #1b0; }
    tbody td div.neg { background: #b10; }
    </style>
</head>
<body>
    <div id="container">...</div>
    <script type="text/javascript">
        function cell(row, txt, title){
            var c = row.insertCell(-1);
            if(title){ c.title = title; }
            c.appendChild(document.createTextNode(txt));
            return c;
        }

        function populate(tbody, payload){
            var fw = (100 / window.innerWidth);

            while(tbody.rows.length > 0){ tbody.deleteRow(-1); }
            for(var i = 0, len = payload.length; i < len; i++){
                var point = payload[i].point;

                var tr = tbody.insertRow(-1);
                tr.id = payload[i].id;
                cell(tr, payload[i].date.split('T')[0]);
                cell(tr, payload[i].action);
                cell(tr, point, payload[i].kind);
                cell(tr, payload[i].partner);

                var gc = tbody.insertRow(-1).insertCell(-1);
                gc.setAttribute('colspan', 4);

                var g = document.createElement('div');
                var w = fw * (point >= 0 ? point : point * -1);
                g.className = 'dt ' + (point >= 0 ? 'pos' : 'neg');
                g.style.width = w + '%';

                gc.appendChild(g);
            }
        }

        function sorted(tbody, payload, ascending,
            first, second, third){

            function srt(left, right, field){
                if(field == 'point'){ return left[field] - right[field]; }
                return left[field].localeCompare(right[field]);
            }
            second = (second ? second : 'date');
            third = (third ? third : 'point');

            console.log('sorting', (ascending ? 'ascending': 'descending'),
                payload.length, 'items', '|',
                    first, '>', second, '>', third);

            return populate(tbody, payload.sort(function(l, r){
                return ((ascending ? 1 : -1) * (srt(l, r, first) ||
                    srt(l, r, second) || srt(l, r, third)));
            }));
        }

        function build(payload, points, created){
            var table = document.createElement('table');

            var caption = table.createCaption();
            var thead = table.createTHead();
            var tbody = table.createTBody();
            var tfoot = table.createTFoot();

            var t = document.createElement('div');
            t.appendChild(document.createTextNode(points));
            caption.appendChild(t);

            var c = document.createElement('small');
            c.appendChild(document.createTextNode(created));
            caption.appendChild(c);


            function tog(obj){
                var o = (obj.sorting == 'asc' ? true : false);
                obj.sorting = (o ? 'dsc' : 'asc');
                return o;
            }

            var head = [{
                title: 'Date', click: function(){
                    return sorted(tbody,
                        payload, tog(this), 'date', 'point', 'action'); }
            }, {
                title: 'Action', click: function(){
                    return sorted(tbody,
                        payload, tog(this), 'action', null, 'point'); }
            }, {
                title: 'Points', click: function(){
                    return sorted(tbody,
                        payload, tog(this), 'point', 'date', 'action'); }
            }, {
                title: 'Partner', click: function(){
                    return sorted(tbody,
                        payload, tog(this), 'partner'); }
            }];

            var hr = thead.insertRow(-1);
            for(var i = 0, len = head.length; i < len; i++){
                cell(hr, head[i].title,
                    'Sort by ' + head[i].title).addEventListener(
                        'click', head[i].click);
            }

            sorted(tbody, payload, false, 'date', 'point', 'action');

            var fc = tfoot.insertRow(-1).insertCell(-1);
            fc.setAttribute('colspan', 4);
            fc.appendChild(document.createTextNode(payload.length));

            var container = document.getElementById('container');
            container.innerHTML = null;
            container.appendChild(table);
        }

        window.onload = function(){ build(
            {{ payload }}, '{{ points }}', '{{ created }}'
        ); };
    </script>
</body>
</html>
